body {

  background-image: url(../assets/bg.jpg);
  background-size: cover;
  font-family: "Alice", serif;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 16px;
}

#page {
  box-sizing: border-box;
  max-width: 800px;
  padding: 24px;
  background-color: #F0E8C2;
  margin: 48px auto 28px;
  border-radius: 24px;
}

h1,
h2,
p {
  line-height: 150%;
  text-transform: capitalize;
}

h1,
h2 {
  color: #291B1A;
  margin-bottom: 4px;
}


ul {
  margin-left: 24px;
}

li {
  color: #573A37;
}

h1 {
  font-size: 40px;

}


h2 {
  font-size: 24px;

}

p {
  color: #573A37;
}


footer {
  text-align: center;
  color: #F0E8C2;
  padding-bottom: 48px;
}
footer img  {
  display: inline;
  vertical-align: middle;
}
